.doughnut {
  padding-bottom: 20px;
}
.pie {
  padding-bottom: 20px;
}

.tabsText {
  color: whitesmoke;
}

.Winstreak {
  height: 25%;
  width: 25%;
}

.Type {
  height: 25%;
  width: 25%;
}

.Team {
  height: 25%;
  width: 25%;
}
